[2019-01-08 09:15] martiniil opened #44 "IKfast plugin uses deprecated plugin API"
See: https://github.com/ros-planning/moveit/issues/1262

This leads to a build failure on our side: (on **melodic-devel**)

pilz_robots/prbt_ikfast_manipulator_plugin/src/prbt_manipulator_ikfast_moveit_plugin.cpp:343:86: error: ‘virtual void kinematics::KinematicsBase::setValues(const string&, const string&, const string&, const string&, double)’ is deprecated [-Werror=deprecated-declarations]

[2019-01-10 12:08] martiniil commented on #44
Closed via quick fix of generated plugin: #46, #48.

[2019-01-10 12:08] #44 closed, assigned to martiniil

[2019-01-14 13:14] hslusarek opened #53 "Gazebo crashes at start up"
Up to commit eb203fdbc63503d53c2cfe956dc2a1c0d5fb7470 Gazebo starts without problems. From commit 71bf950fc0a6fdacca01faf0239f43ab1a8eb299 forth Gazebo  immediately crashes at start-up. The only information I get on the terminal is:

`[gazebo_gui-3] process has died [pid 31572, exit code 139, cmd /opt/ros/kinetic/lib/gazebo_ros/gzclient __name:=gazebo_gui __log:=/home/hslusarek/.ros/log/b9a1d926-1

[2019-01-15 06:44] agutenkunst commented on #53
I checked with Gazebo version 7.14.0 and e92dc65 and it worked.
Maybe this is a missing <run_depend>?

[2019-01-15 06:49] hslusarek commented on #53
I have Gazebo version 7.0.0.

[2019-01-16 09:15] agutenkunst commented on #53
One mesh was broken. New mesh was generated and added in 5f5f65a4ef747d4567b57fc75dd1c92684ab5f3b

[2019-01-16 09:15] #53 closed, assigned to agutenkunst, hslusarek

[2019-01-17 12:39] jschleicher opened #61 "Do not depend on meta-package(s)"
prbt_moveit_config depends on ros_control and on ros_controllers, but according to [REP-140](http://www.ros.org/reps/rep-0140.html#metapackage) this is not allowed (see discussion in https://github.com/catkin/catkin_tools/issues/370)

For me the current situation causes error outputs of catkin build:
[code]
and in some (not reproducible) situation @JonathanGruner experienced an error in the first

[2019-01-17 14:55] agutenkunst commented on #61
Can you post the catkin build configuration?

[2019-01-18 12:15] jschleicher commented on #61
I can confirm your fix: ff3bd28 doesn't show the "Abondoned" warning any longer.

[2019-01-21 10:34] #61 closed, assigned to agutenkunst

[2019-02-13 06:19] hslusarek opened #65 "Start no possible because of unreasonable joint state"
Error:
[code]

Angle:
[code]

[2019-02-13 06:19] hslusarek commented on #65
Moved real robot with rviz and suddenly axis stood in axis limit.

[2019-02-13 06:19] hslusarek commented on #65
Refinement meeting (06.12.2018):
- [ ] : Test that if robot is moved with Rviz that limits are considered.
- [ ] : Test that if values outside limits are send over CAN, robot hardware reacts properly.
- [ ] : Stress test to check if timing error/race condition triggers error.

If both tests show now incorrect behaviour, close bug?

[2019-02-13 06:34] agutenkunst commented on #65
Could you explain in more detail what you did/expected and what happend?

[2019-02-13 08:28] hslusarek commented on #65
This bug is a little bit older and I cannot really recall how exactly this bug occurred. Therefore, I suggest to simply check the TODO's from the Refinement and if no problem is detected, to close the bug.

[2019-02-13 10:32] agutenkunst opened #67 "Build fails due to update in ros_controllers 0.13.4 -> 0.13.5"
We should fix before next sync.

Interface of joint_trajectory_controller changed (see https://github.com/ros-controls/ros_controllers/commit/209e61727f4206d2682b4d441ca876c647ec5249#diff-b6b38387e5596ed3fbad49aac3692863).

Causing build fail:
https://travis-ci.org/PilzDE/pilz_robots/jobs/492227099

Causing change:
We should fix before next sync.

Interface of joint_trajectory_controller changed.

[2019-02-13 10:36] agutenkunst commented on #67
Found c2bb6ae20228cdd8efc744870251fe37186ab787 and cherry-picked.
Branch: https://github.com/PilzDE/pilz_robots/tree/fix/regression_in_joint_trajectory_controller

[2019-02-13 11:44] #67 closed, assigned to agutenkunst

[2019-02-14 07:39] martiniil opened #70 "Gazebo integrationtest errors"
### Commit
93454eb1c7e1fe3e46ec47d8d778d73d68722161

### Steps to reproduce
This happened here: https://travis-ci.org/PilzDE/pilz_robots/jobs/492676506
I do not know, how to reproduce it.

### Log

[ WARN] [1550063952.451764145]: Skipping virtual joint 'FixedBase' because its child frame 'prbt_base_link' does not match the URDF frame 'world'
[ INFO] [1550063952.452015314]: No root/virtual joint sp

[2019-02-15 06:57] agutenkunst commented on #70
`Error [parser.cc:581] Unable to find uri[model://sun]`
Is something I experienced before and the reason why this happens is unclear to me.

[2019-02-15 12:55] JonathanGruner opened #72 "rosparam can"
Please insert the hint, that you could change with the param

`<rosparam param="/prbt/driver/bus/device">canx</rosparam>`

with x the number of Can in the moveit_planning_execution.launch.

[2019-02-20 06:28] #70 closed, assigned to nobody

[2019-02-21 06:35] agutenkunst commented on #72
Is https://github.com/PilzDE/pilz_robots/blob/3e8b31ea3ebceb120be15aec609a5ae6af55db76/prbt_support/launch/robot.launch#L15-L17

sufficient?

[2019-02-21 08:13] jschleicher commented on #72
Yep. This issue is about **documentation**.

Maybe the future tutorial about connecting the real robot would be a good place. Maybe we should put this into an example package together with ready-to-use-script(s). I think this should be visible somewhere on wiki.ros.org. What do you think?

[2019-02-25 09:39] Chamango90 opened #76 "prbt ik fast plugin not found (install space)"
### Commit
current (3e8b31e)

### Steps to reproduce
[code]

### Expected behavior
Simulated robot with MoveIt functionality.

### Observed behavior
MoveIt fails and one does e.g. not get the interactive marker.

### Logfiles

[code]
It does work if I build the package `prbt_ikfast_manipulator_plugin` from source.
I would imagine that an installation step is missing for the `libprbt_manipulator_mo

[2019-02-25 11:02] jschleicher commented on #76
Please try a full `apt upgrade`. Probaly you have an old version of kinematics_base installed and are missing the recent kinematics_base.so?

From your error message:
[code]

If you install new packages you should always `apt update && apt upgrade` first. (SONAMES and ABI compatibility...)

[2019-02-25 13:14] Chamango90 commented on #76
Thank you for your quick answer. You are right, the upgrade solved the issue.

[2019-02-25 13:14] #76 closed, assigned to nobody

[2019-02-26 07:18] CloudYin opened #78 "Error after apending pg70 gripper"
Hello everyone,

after I added a gripper argument in my_application launch file (created during PRBT tutorial), an error and some warnings occurred during compilation.

[ERROR] [1551164434.657030599]: Joint 'prbt_gripper_finger_left_joint' declared as part of group 'gripper' is not known to the URDF
[ WARN] [1551164434.660436207]: Group 'gripper' is empty.
[ WARN] [1551164434.660658654]: Link 'prb

[2019-02-26 09:26] agutenkunst commented on #78
You need to extend your xacro file to attach the gripper. It should look somewhat like this:
[code]

The launchfile should be:
[code]

Please post if this works for your

[2019-02-27 02:11] yzhyff commented on #78
OK. It now works perfectly, thanks :-)

[2019-02-27 02:12] CloudYin commented on #78
OK. Now it works perfectly. Thanks :-)

[2019-02-27 12:29] jschleicher opened #79 "Gazebo black and white"
### Commit
7b0fe0938e1bef5bc311ea8541fe8b2847b9fb72

### Steps to reproduce

1. roslaunch prbt_gazebo sim_prbt_gazebo.launch

### Expected behavior
Gazebo is shown with the robot visible.

### Observed behavior
Gazebo looks black and white:
![gazebo-without-sun](https://user-images.githubusercontent.com/29709205/53490268-9a02f780-3a93-11e9-92ea-b91e965ff134.png)

Please fix the test case without c

[2019-02-28 13:55] #78 closed, assigned to nobody

[2019-03-01 06:52] JonathanGruner opened #80 "No modbus sto"
I have a problem during modbus connection.

I connected the robot over a PSS4000 with my computer and tested the connection with @martiniil with pymodbus, all required datas could be read in the right registers.

But when starting the robot there comes "Modbus Disconnected".
If I then release the enabling switch, the terminal says "Node has emergency Error".

Furthermore the robot doesen't want to

[2019-03-05 11:49] JonathanGruner commented on #80
The problem couldn't be solved yet with sevaral computers , same same settings than the PLC in the ROS-laboratory, also other PLCs...

[2019-03-05 12:17] jschleicher commented on #80
Hallo Jonathan,
thanks for your report. An PSS4000 setup that you are trying is not officially supported. We will check, if this is a viable configuration in the future. The current ROS packages are supported with "pnoz" only.

[2019-03-05 12:17] #80 closed, assigned to nobody

[2019-03-11 11:13] JonathanGruner opened #81 "Modbus Timeout kills launch process"
### Commit
 05d7a01

### Steps to reproduce
Start launch file on low-end pc with a large robot model. If the startup process takes more than 5 seconds, the modbus node dies.

### Expected behavior
Node waits until ROS is ready. There should not be a timeout at all, but just a warning to notify the user: "Service xxx not yet available, waiting...".

### Observed behavior
Modbus node dies and takes

[2019-03-12 06:26] agutenkunst commented on #81
Seems that our controller does not come up. Maybe there is an error with the drives?
[code]

[2019-03-12 09:29] jschleicher commented on #81
@JonathanGruner Please report, if increasing the timeout helped.

[2019-03-13 08:25] JonathanGruner commented on #81
@jschleicher I can't say it to 100%, but I feel it's more stable. But yesterday morning, I got this error every time I started the robot until I restarted my computer.

[2019-03-13 12:07] #72 closed, assigned to jschleicher

[2019-03-19 09:00] CloudYin opened #82 "A3 joint limit violation in transport position"
Hi gentlemen,

when I set the robot to the transport position it always shows a joint violation error. I made a test for each axis and find the axis A3 cannot set to -135 degree. However -134 is ok. Here is the code I write:

https://github.com/yzhyff/prbt_training_cell/blob/1fccbda495a618bdb712919f4f61d94ff2c2f297/prbt_training_cell/scripts/transport.py#L1

[2019-03-19 09:43] jschleicher commented on #81
Okay, so this is more related to [logging ros_canopen errors](https://github.com/ros-industrial/ros_canopen/issues/319).
But I'd still suggest to drop the timeout in `sto_modbus_adapter_node` in favor of the ros way "[INFO] ... not available yet, retrying..."

[2019-03-19 09:48] jschleicher opened #83 "Re-generate ikfast plugin"
### Commit
3efae68

### Steps to reproduce
How can the issue/bug be reproduced?
1. `roslaunch prbt_moveit_config moveit_planning_execution.launch`

### Expected behavior
No warnings appear.

### Observed behavior
Log output:
[code]

### Reference to test
Maybe a test checking for warning in /rosout during normal launch would help?

The fix should be as easy as re-generating the plugin from the cur

[2019-03-25 06:03] martiniil commented on #82
@CloudYin Thank you for reporting this issue. We will tackle it in the next days.

[2019-03-26 10:05] ct2034 opened #89 "When modbus fails to read register, it outputs "Modbus disconnected!""
### Commit
f8064345f37a2dcaaf26b4130ab71c5df331ae7a

### Steps to reproduce
Have a hardware setup failing to read modbus register

### Expected behavior
Log output should describe failure accurately:
[code]

### Observed behavior
Log output is:
[code]

[2019-03-26 10:05] ct2034 opened #90 "When modbus fails to read register, it outputs "No"
### Commit
At which commit was the issue/bug observed?

### Steps to reproduce
How can the issue/bug be reproduced?
1. First step
2. Second step
3. ...

### Expected behavior
Describe what should happen

### Observed behavior
Describe what happens

### Logfiles
If there are logfiles, append them.

### Reference to test
If there is no test that can detect the issue/bug, please create one and
refere

[2019-03-26 10:33] JonathanGruner commented on #81
(@ct2034 was here)
**Note**: timeout can be changed in
````prbt_hardware_support/include/prbt_hardware_support/pilz_modbus_read_client.h````
**Idea**: make configureable

[2019-03-26 12:00] #90 closed, assigned to nobody

[2019-03-26 12:07] jschleicher commented on #81
Why not wait until ROS is ready? There should not be a timeout at all, but just a warning to notify the user: "Service xxx not yet available, waiting...". If you start rqt without a roscore it outputs the same: "Waiting...".

[2019-03-26 14:42] ct2034 commented on #81
**Note:**

Maybe we can improve the error handling here, too. the canopen python library seems to have info on the error codes: https://canopen.readthedocs.io/en/latest/_modules/canopen/emcy.html#EmcyError

[2019-03-26 15:21] jschleicher commented on #89
Closed by #91

[2019-03-26 15:21] #89 closed, assigned to nobody

[2019-03-26 15:34] hslusarek opened #92 "Robot cannot be moved after Emergency-Stop/Panic button/ Enabling button release"
### Commit (Stand: 19.03.2019):
- kinetic-devel
- pilz_industrial_motion - Version: 0.3.6-0
- pilz_robots -  Version: 0.4.7-0
- prbt_grippers - Version: 0.0.1-0

### Steps to reproduce
Start real robot via:
```roslaunch prbt_moveit_config moveit_planning_execution.launch sim:=false pipeline:=pilz_command_planner```
1. Perform motion (e.g. vial Python script)
2. During motion do one of the followin

[2019-03-26 15:42] #79 closed, assigned to nobody

[2019-03-27 06:56] JonathanGruner commented on #81
I have now an Error:
ER: 129

And I can't find the corresponding codes in the canopen python library

[2019-03-27 07:37] ct2034 commented on #81
Yes you can. 129 is 0x80, when masked with 0xF0:

Not that this tells us anything more though ;-)

[2019-03-27 09:04] ct2034 commented on #81
I am trying to implement this in canopen: https://github.com/ct2034/ros_canopen/commit/deba5d001e6784596a72bb9b3e35cef494788ed3

[2019-03-27 09:17] JonathanGruner commented on #81
Now i got an empty error:
'''ER:'''

[2019-03-27 11:42] JonathanGruner opened #93 "CAN Error SAFE_TORQUE_OFF (ER: 129)"
### Commit
Ubuntu 18.04 using ROS melodic.

### Steps to reproduce
How can the issue/bug be reproduced?
1. Start the robot with holding the Enabling switch
2. Release the switch, press it again, release it, .....
3. The Error will occur and the brakes won't open again after a few (sometimes even after the first) releases of the switch
4. If I don't release the button (or in my case close and lock

[2019-03-27 11:53] JonathanGruner commented on #81
The original issue could be solved by cloning pilz_robots in my workspace, adjusting the timeout to 10 seconds in

prbt_hardware_support/include/prbt_hardware/support/pilz_modbus_read_client.h

and than rebuilding it with catkin_make.
Maybe you could insert 10 or 20 seconds too in the original files at the first connection?

I made a new issue with the ER: XY error.

[2019-03-27 12:23] jschleicher commented on #93
The emergency `EMCY: 87#001081 29 03000000` is         `ERROR_SAFE_TORQUE_OFF  //0x29`

[2019-03-28 12:15] hslusarek commented on #92
- Bug **not** reproducible with commits (Stand: 26.04.19):
  - pilz_industrial_motion:  3c99424bfe4de8f289d138ef5e0038b96b69df90
  - pilz_robots:  a0d4fda5df623de8477f8acf6affaf9bb900716f
  - prbt_support:  31f9f169f82839512fc4c376104e6bd09741a1cf
  - Firmeware: "100 Build:11158 Date:2018-06-07 16:49:55%"

- Bug also not reproducible with:
ros-kinetic-prbt-gazebo is already the newest version (0.4

[2019-03-28 16:43] ct2034 commented on #93
This was **not** reproducible with firmware
[code]

[2019-04-01 13:07] JonathanGruner commented on #93
I have firmware:
``` "101 Build 11345 Date:2018-12-17 07:33:065" ```
Its different!

[2019-04-05 08:26] rfeistenauer opened #98 "Missing interactive marker in rviz, when using gripper:=pg70"
### Commit
commit 5913a9009b8aef642b01c9000c80d1227d9a0643
and
commit 393358665f2c9adf06d9ca5748864dc77ee2d867

(from source)

### Steps to reproduce
$ roslaunch prbt_moveit_config moveit_planning_execution.launch gripper:=pg70

### Expected behavior
interactive marker should be at tcp position

### Observed behavior
no interactive marker available

### Logfiles
No difference to log of starting it

[2019-04-09 07:35] ct2034 commented on #83
This is currently only relevant in melodic

[2019-04-12 16:27] ct2034 opened #100 "Calling update_ikfast by catkin"
In the spirit of only checking in source files, it would make sense to *not* check in the auto-generated ikfast cpp files.

Instead, it would be more streamlined to call them out of catkin: https://stackoverflow.com/questions/39960173/run-custom-shell-script-with-cmake

This would also future-proof this for when something changes in moveit.

[2019-04-15 09:21] jschleicher commented on #100
I don't think this is feasible for the IK plugin. We have several manual acceptance tests, that (depending on the diff) must be executed. A regression due to an automated re-generation would not be detected.

If you're talkin about the solver itself: That is actually patched manually (tweak) and must not be re-generated without thouroughly testing it and running the benchmarks (which aren't automa

[2019-04-16 12:13] hsd-dev opened #105 "`prbt_hardware_support` does not install any lib"
I am working on Ubuntu 16.04 with ROS kinetic and ROS2 crystal. While building `ros1_bridge`, I get an error:

[code]
Similar to the issue [here](https://github.com/ros2/ros1_bridge/issues/88), `prbt_hardware_support` exports the package as a library, but does not install any libs. By commenting out the [line](https://github.com/PilzDE/pilz_robots/blob/kinetic-devel/prbt_hardware_support/CMakeList

[2019-04-16 12:21] jschleicher commented on #105
Yep, thanks for reporting. Actually the package does not build any lib, so the line isn't necessary.

[2019-04-16 15:09] jschleicher commented on #92
Maybe duplicate of #93?

[2019-04-17 08:42] #105 closed, assigned to nobody

[2019-04-18 07:30] agutenkunst commented on #81
There seems to be a confusion regarding the timeouts.

During the launch `MODBUS_CONNECTION_RETRY_TIMEOUT_S_DEFAULT` defined in `pilz_modbus_read_client_node.cpp` should be relevant.
While running

The definition of `RESPONSE_TIMEOUT_IN_MS` in `pilz_modbus_read_client.h` is related to the detection of a disconnect. Please reset this to the default and try to adjust `MODBUS_CONNECTION_RETRY_TIMEOUT

[2019-04-23 11:21] #82 closed, assigned to nobody

[2019-04-25 11:32] ct2034 commented on #100
okay, maybe this is not a good idea, then.

[2019-04-25 11:32] #100 closed, assigned to nobody

[2019-04-26 09:37] hslusarek commented on #92
- [ ] TODO: Determine Firmeware version of robot on which bug occured

[2019-04-29 08:16] jschleicher commented on #100
It IS a good idea, but currently not feasible :-(

[2019-04-29 08:38] jschleicher commented on #81
I'll prepare a separate PR to continue the discussion. This issue is about the initial timeout during launch.
#97 adresses the disconnect after the nodes are up and running.

[2019-04-29 08:49] jschleicher opened #116 "Development branch in Readme.md"
Add a note to the README as in PilzDE/pilz_industrial_motion#150 about the default development branch and branching model.

_Originally posted in https://github.com/PilzDE/pilz_robots/pull/97#pullrequestreview-227705581_

### Expected behavior
The Readme should tell the target branch of pull-requests and how pull requests are back-/forwards-ported to other distros.

[2019-05-06 14:06] OndrejNedelka opened #118 "Pilz_tutorial_4 with real robot"
### Commit
At which commit was the issue/bug observed?

### Steps to reproduce
How can the issue/bug be reproduced?
`roslaunch pilz_tutorial my_application.launch`

### Expected behavior
Physical robot should move as in RVIZ.

### Observed behavior
Launch fails at error:
`unused args [rviz_config] for include of [/opt/ros/kinetic/share/prbt_moveit_config/launch/moveit_rviz.launch]
The traceback fo

[2019-05-06 14:37] jschleicher commented on #118
The attachment link of your launch file does not work. Can you please share your (modified) launch file?

[2019-05-06 15:02] OndrejNedelka commented on #118
It should work now.
Thank you.

[2019-05-07 05:20] martiniil commented on #118
The `rviz_config` argument is added in `prbt_moveit_config 0.4.8`. So it will be out only with the next kinetic release.

[2019-05-07 05:20] #118 closed, assigned to nobody

[2019-05-09 14:21] jschleicher opened #123 "prbt_ikfast_manipulator_plugin fails to compile on armhf"
### Commit
70812c06340c8eb4c68b10a8275beec46aafb722

### Steps to reproduce
[code]
[code]
I do not understand, where the difference to the last (successful!) build on the official [build farm](http://build.ros.org/view/Mbin_ubhf_uBhf/job/Mbin_ubhf_uBhf__prbt_ikfast_manipulator_plugin__ubuntu_bionic_armhf__binary/31/consoleFull) is?!

Compiling with C++17 fixes the issue.
`prbt_ikfast_manipulator_p

[2019-05-15 14:41] #83 closed, assigned to ct2034

[2019-05-16 09:37] ct2034 opened #128 "timeout of test: prbt_hardware_support/integrationtest_brake_test_required"
### Commit
https://github.com/PilzDE/pilz_robots/tree/d653264b47adb1c2fbe50e271d21ba8d1c625b8d

### Steps to reproduce
How can the issue/bug be reproduced?
1. Build Tests
2. `rostest prbt_hardware_support integrationtest_brake_test_required.test`

### Expected behavior
Test exits successfully

### Observed behavior
Test times out

### Logfiles
[code]

### Reference to test
`rostest prbt_hardware_s

[2019-05-16 11:35] agutenkunst commented on #123
Could we use a flag for armhf to enable c++17?

[2019-05-17 07:55] hslusarek commented on #92
Bug was reproduced with robot with new firmeware and kinetic-devel

## Version details
- pilz_industrial_motion: a921718f1eaf7dcca57c61bce28f3e0c53c79015
- pilz_robots: a0d4fda5df623de8477f8acf6affaf9bb900716f
- prbt_grippers: 31f9f169f82839512fc4c376104e6bd09741a1cf
- Firmeware: 101 Build:11345 Date:2018-12-17 07:33:065

## Console output
[code]

[2019-05-17 08:08] hslusarek commented on #92
Bug also appears with melodic-devel (17.05.2019)

[2019-05-17 08:09] hslusarek commented on #92
The following workaround seems to fix the bug: [see here](https://github.com/ct2034/ros_canopen/tree/d795a68559009a2653fc5a29c6345a405f1563f4) (Caution: Do not use the workaround!)

[2019-05-17 08:09] hslusarek commented on #92
It seems that way yes.

[2019-05-17 12:14] SansoneG commented on #123
A little more system information to @jschleicher's comment:
[code]
Linux Kernel Version: `4.9.76-rt60-v7+`

[2019-05-17 12:52] ct2034 commented on #93
In the archive there are three can logs for comparison:
[can_dumps_wireshark.zip](https://github.com/PilzDE/pilz_robots/files/3191531/can_dumps_wireshark.zip)
- `fw100_error129_no_failure_gz.pcapng`: old firmware - error does not appear
- `fw101_error129_failes_gz.pcapng`: new firmware - fails
- `fw101_error129_workaround_gz.pcapng`: with workaround

[2019-05-20 08:24] SansoneG commented on #123
Setting up `prbt_ikfast_manipulator_plugin/CMakeLists.txt` like this also fixes the issue.

[code]

[2019-05-20 08:37] jschleicher commented on #123
@SansoneG thanks for testing.
I've opened that as pull-request.

[2019-05-22 05:23] #81 closed, assigned to jschleicher

[2019-05-22 05:39] martiniil commented on #128
I cannot reproduce this bug. On my computer the test ran in 3.6s @ct2034

[2019-05-23 11:06] martiniil commented on #128
@martiniil Check ROS buildfarm
maybe fixed by 5754d7756f0b64130832b132fa4c8031c2e2f315

[2019-06-03 11:55] ct2034 commented on #128
I checked it again also with the prerelease tests. It seems to be fixed by #131. If the problem occurs again - reopen

[2019-06-03 11:55] #128 closed, assigned to martiniil

[2019-06-06 11:08] hslusarek commented on #92
Close because we assume that this bug is a duplicate #93.

[2019-06-06 11:09] #92 closed, assigned to ct2034, hslusarek

[2019-06-11 12:42] #123 closed, assigned to agutenkunst

[2019-06-13 09:28] padhupradheep opened #143 "Compiling not possible"
[code]

Tried to do the Catkin_make, but had this error during compilation!

Thanks !

Pradheep

[2019-06-13 10:12] jschleicher commented on #143
What is your system?
Ubuntu? ROS-distro?
The tutorials list [requirements](https://wiki.ros.org/pilz_robots/Tutorials/ModelYourApplicationWithPRBT#Prerequisites) where the packages are successfully tested.

Especially we use libmodbus version 3.0.6. Upstream libmodbus version 3.1.2 introduces an [API change](https://libmodbus.org/2015/libmodbus-v3-1-2/) that is not yet contained in the official ub

[2019-06-17 05:15] agutenkunst opened #144 "Move Register Value<->Key Mapping into api_spec.yaml"
Currently prbt_hardware_support/config/modbus_api_spec_*.yaml allows the definition of the registers. However it would be nice if it would also hold the respective value<->key mapping.

E.g.
[code]

or something like that.

[2019-06-24 11:26] jschleicher opened #151 "Hold service waits until recover returns"
### Commit
836eeb30d93de4bd873a61373753bf4e61c163ab

### Steps to reproduce
How can the issue/bug be reproduced?
1. `roslaunch prbt_moveit_config moveit_planning_execution.launch sim:=false has_braketest_support:=true has_operation_mode_support:=true pipeline:=pilz_command_planner`
2. Press and immediately release enabling switch

### Expected behavior
Hold service is called as soon as it is detec

[2019-06-24 11:31] jschleicher commented on #151
For comparison: A slow normal run gives the following log:
1. press enabling switch (for some seconds)
2. release enabling switch

[code]

Note: The `/hold` service call happens < 0.5ms after "Sending new ROS-message".

[2019-06-25 05:49] martiniil commented on #151
@jschleicher Thank you for this insight. We'll have to do some research. I don't know if a `/recover` call can be aborted.

[2019-06-25 07:46] martiniil commented on #151
The recover and halt callbacks are mutually exclusive ...

[2019-06-26 06:37] martiniil opened #153 "Set modbus server IP adress from command line"
During startup via `moveit_planning_execution.launch` a default modbus server ip adress should be used depending on `sto:=pnoz` or `sto:=pss4000`. Otherwise, the user would want to set it via a command line argument.

[2019-06-26 06:40] martiniil opened #154 "ModbusReadClient does not take into account register range from api spec"
Ansatz:

Determine minimal modbus register range from api spec on parameter server.

[2019-06-26 10:39] jschleicher commented on #151
What are you referring to? Could you add a link? Should we open an issue in upstream ros_canopen?

[2019-06-26 11:16] martiniil commented on #151
https://github.com/ros-industrial/ros_canopen/blob/67172327d83e6308172b09d21916282cb23b99f1/canopen_chain_node/src/ros_chain.cpp#L131
and following

I don't have a deep understanding of the processes in ros_canopen. At first glance it seems that this callback mainly sets a state in the canopen layer. If this is true I think a solution could be found upstream.

[2019-06-28 08:21] #153 closed, assigned to martiniil

[2019-06-28 11:05] jschleicher commented on #151
As other approach: Skip `/hold` service call, if bRunpermitted already goes to false during `/recover`.

[2019-07-02 10:57] jschleicher commented on #143
Closing as no system information available. Please reopen with additional information.

[2019-07-02 10:57] #143 closed, assigned to nobody

[2019-07-03 05:43] martiniil commented on #151
WIP: https://github.com/PilzDE/pilz_robots/tree/fix/delayed_sto

[2019-07-03 11:29] martiniil commented on #151
Is it also valid to skip the `/halt` service call if Runpermitted goes to true during `/hold`?

[2019-07-05 11:34] #154 closed, assigned to martiniil

[2019-07-08 08:37] ct2034 opened #172 "Some travis jobs time out"
### Commit
https://travis-ci.org/PilzDE/pilz_robots/jobs/554674003

### Steps to reproduce
Run travis

### Expected behavior
job is succesful

### Observed behavior
job times out

### Logfiles
https://api.travis-ci.org/v3/job/554674003/log.txt

[2019-07-09 04:59] martiniil commented on #172
solution: restart job

[2019-07-09 04:59] #172 closed, assigned to nobody

[2019-07-11 13:32] ipa-rar opened #180 "/prbt/joint_states does not publish the velocity and effort values"
### Commit
8b529fe

### Steps to reproduce
rostopic echo /prbt/joint_states

### Expected behavior
The /prbt/joint_states should publish the position, velocity and effort values of the robot

### Observed behavior
Only the position values are published. The velocity and effort values remains as zero.

### Logfiles
[code]

[2019-07-11 14:51] jschleicher commented on #180
Thanks for your report.

Are you using a simulated or real robot? Please tell us the launch command you use.

If I use gazebo the joint_states are filled completely: `roslaunch prbt_gazebo sim_prbt_gazebo.launch`.

[2019-07-11 15:12] ipa-rar commented on #180
I am using it on real robot (Pilz prbt) and I am working on
[scan and plan](https://github.com/rosin-project/automatica18_scan_and_plan_demo)
The launch commands I used was
[code]

[2019-07-22 06:41] agutenkunst commented on #151
So to recap this happens with:
**101 Build 11345 Date:2018-12-17 07:33:065**

[2019-07-22 06:42] agutenkunst commented on #151
@jschleicher @martiniil I could really need a statement on the used hardware / software running on this hardware in order to reproduce...

[2019-07-22 11:07] agutenkunst commented on #151
Ok Update
I think I broke it also with **100 Build:11158 Date:2018-06-07 16:49:555**

"""
[DEBUG] [WallTime: 1563793395.115504996 /home/agutenkunst/catkin_ws/src/pilz_robots/prbt_hardware_support/src/pilz_modbus_client.cpp:161]: Sending new ROS-message.
Warning: recursive print statement has occurred.  Throwing out recursive print.
[ INFO] [WallTime: 1563793395.115774209 /home/agutenkunst/catkin_w

[2019-07-22 12:55] agutenkunst opened #187 "Fix unstable unittest_pilz_joint_trajectory_controller"
### Commit
https://github.com/PilzDE/pilz_robots/commit/69001be9805098286fa23096b3c9d05783b20b67

This test seems to fail on travis (especially the testIsExecuting) since it heavily relies on ros::Time::now()

[2019-07-23 07:28] agutenkunst opened #188 "Failing job due to reduced hardware_concurrency() on travis"
### Commit
https://github.com/PilzDE/pilz_robots/commit/e65e5266d7a2c1d94fd188d27b8f5e70f5112cea

[code]

[code]

[code]

Seems like they reduced the hardware concurrency?
https://docs.travis-ci.com/user/reference/overview/#for-a-particular-travisyml-configuration states that there should be two cores. However

https://travis-ci.org/PilzDE/pilz_robots/jobs/562104965 fails...

Maybe a restart helps

[2019-07-23 09:41] agutenkunst commented on #188
As suspected fixed by rebuild

[2019-07-23 09:41] #188 closed, assigned to nobody

[2019-07-24 11:18] agutenkunst opened #190 "unittest_libmodbus_client can get stuck"
### Commit
1b838d205685274311bcc3b6c18301841c41fae0

### Steps to reproduce
` for i in {0..100}; do GTEST_FILTER=*testNegativeNumberOfRegistersToRead* catkin_make run_tests_prbt_hardware_support_gtest_unittest_libmodbus_client; done`

will eventually get stuck

### Expected behavior
Test runs smoothly

### Observed behavior
Test gets stuck will eventually timeout -> No result for test -> Travis fa

[2019-07-25 05:44] agutenkunst opened #193 "unittest_libmodbus_client has timeout in buildfarm"
Job fails on Buildserver due to timeout in test https://github.com/PilzDE/pilz_robots/blob/02bfdde504aa3357a48412b8da4b3d41408b5411/prbt_hardware_support/test/unittests/unittest_libmodbus_client.cpp#L210
http://build.ros.org/job/Mdev__pilz_robots__ubuntu_bionic_amd64/38/console

### Commit
54d7b927a5cfa72f1e587100f8d5b82435d4ff23

### Steps to reproduce
unclear

### Expected behavior
Test should n

[2019-07-25 08:20] #190 closed, assigned to nobody

[2019-08-02 09:57] #193 closed, assigned to agutenkunst

[2019-08-05 14:02] agutenkunst opened #203 "Migrate industrial_ci"
See https://github.com/ros-industrial/industrial_ci/pull/361

[2019-08-07 05:40] martiniil opened #206 "Sporadic failure of integrationtest_stop1"
### Commit
587d05ba2e8fce0fc241e789de48b53dcdd7b9ef

### Steps to reproduce
Rerun travis job, eventually it will fail.
On my local machine I could produce a similar test result as follows:
1. stress -c 60 -m 24 -t 60s
2. rostest prbt_hardware_support integrationtest_stop1.test --text

### Expected behavior
The test should not fail.

### Observed behavior
The test integrationtest_stop1.test fails d

[2019-08-07 07:47] martiniil commented on #206
I assume that fd509a8d90da7f2bba1d43aa034da0267f9a788d fixes it. At least I can no longer produce a failure on the local machine.

[2019-08-07 10:01] jschleicher commented on #206
Did you ever consider a topic publish/subscribe connection instead of polling a service?

I cannot find any rationale in https://github.com/PilzDE/pilz_robots/pull/139 concerning the architectural decision and from my point of view a publisher would have been the better choice. Not 100% sure, if it would dissolve this test problems but on the first glance it looks so.

[2019-08-07 11:14] martiniil commented on #206
The rationale is that in the context of the brake test execution we would like to be able to query if the controller is executing.

[2019-08-08 05:03] martiniil commented on #187
You don't have a log by chance?
This could be related to the instability in #206, which seems to vanish or at least was heavily reduced through fd509a8d90da7f2bba1d43aa034da0267f9a788d.

[2019-08-08 06:57] martiniil opened #209 "Get rid of waitForService (refactoring)"
Following #175 `waitForService` should be refactored into `ServiceClientFactory::create`

This would resolve the names conflict with the roscpp method: http://docs.ros.org/melodic/api/roscpp/html/namespaceros_1_1service.html

[2019-08-14 13:31] martiniil opened #214 "Failure of unittest_update_filter"
### Commit
1e323584da342d2e0a421fde5c6f3c6a36dedcca

### Steps to reproduce
No idea

### Expected behavior
Test should pass

### Observed behavior
Test fails

### Logfiles
https://api.travis-ci.org/v3/job/571708638/log.txt

### Reference to test
prbt_hardware_support/test/unittests/unittest_update_filter.test

[2019-08-14 13:33] martiniil commented on #214
Log:

[code]

[2019-08-14 13:45] martiniil commented on #214
PR #173 was about the same test. Unfortunately the issue is not fully resolved.

[2019-08-14 13:49] martiniil commented on #206
Looks like 1e323584da342d2e0a421fde5c6f3c6a36dedcca resolves the problem. Closing for now.

[2019-08-14 13:49] #206 closed, assigned to martiniil

[2019-08-19 08:11] SansoneG opened #215 "Link to "ROS-I training exercise 3.4" in README not working"
In the README -> under the subheading [Running the simulation](https://github.com/PilzDE/pilz_robots/blob/kinetic-devel/README.md#running-the-simulation) -> subpoint 2 -> the link to "ROS-I training exercise 3.4" is not working.

[2019-08-20 10:02] ct2034 commented on #215
Thanks for letting us know. :+1:
The link you are looking for is now here: https://industrial-training-master.readthedocs.io/en/kinetic/_source/session3/Motion-Planning-RVIZ.html

[2019-08-20 14:23] #151 closed, assigned to martiniil

[2019-08-28 05:21] agutenkunst opened #223 "BrakeTestAdapter should use UNKNOWN instead of lazy initialization"
### Commit
0bc1d07684d43cccbdb2b5228e12ce5809132268

The Braketest Adapter uses lazy initialization to delay service advertising until the first message from modbus is received.
https://github.com/PilzDE/pilz_robots/blob/af8d593a9254a36f5fa9948d68df90c547011935/prbt_hardware_support/src/adapter_brake_test.cpp#L32-L55

It would be preferable immediately advertise the service and return a "UNKOWN" i

[2019-08-29 08:51] #223 closed, assigned to nobody

[2019-08-29 11:18] JonathanGruner opened #228 "document stop1/modbus launch files"
### Commit
Version 0.5.7

### Steps to reproduce
1. Open launch files inside `prbt_hardware_support`
2. Try to understand the parameters / arguments
3. Search comments--->There you will find the issue...no comments.
4. You won't be able to understand the code

### Expected behavior
Well documented files, especally launch files, config files, etc.

### Observed behavior
missing comments / reference

[2019-08-29 16:07] ct2034 opened #230 "Frequency testing in unittest_pilz_modbus_client causes sporadic test failures"
one instability remains .. (https://travis-ci.org/PilzDE/pilz_robots/jobs/578411138#L5011)
[code]

_Originally posted by @ct2034 in https://github.com/PilzDE/pilz_robots/pull/229#issuecomment-526251507_

[2019-08-30 14:59] ct2034 opened #232 "Match with open source guide"
The guide https://opensource.guide/ defines multiple aspects of successful open source projects. (A code of contribution amongst other things)

Watch https://github.com/PilzDE/pilz_robots/community for progress.

[2019-08-30 15:00] ct2034 commented on #232
#116 is related

[2019-08-30 15:01] ct2034 commented on #228
@JonathanGruner Thanks for your feedback.
Unfortunately, this is a relatively broad topic. Could you please give an example of where you think we lack documentation. _Also, feel free to open a pull request!_

[2019-08-30 15:03] #215 closed, assigned to nobody

[2019-08-30 15:04] #203 closed, assigned to dbakovic

[2019-08-30 15:07] ct2034 commented on #180
Hey Ragesh. Thanks for the report. We are currently very involved in other topics but I want to let you know that we did not forget about this issue. Please let me know if this is currently blocking you in any way which would help us with prioritization.

[2019-08-30 15:08] ct2034 commented on #65
@hslusarek What is the state on this?

[2019-09-04 12:13] martiniil opened #234 "no_transition failure in StoStateMachine"
### Commit
a44b3dfe34ea7bcfe7c524af9023e3accaf8cc87

### Steps to reproduce
Using the Stop1Executor, call updateSto(true) during hold service call and return

### Expected behavior
No failure.

### Observed behavior
Program execution is aborted.

### Log
[code]

[2019-09-05 08:50] martiniil commented on #93
Closed via #175

[2019-09-05 08:50] #93 closed, assigned to ct2034, jschleicher

[2019-09-05 08:52] martiniil commented on #65
ping @hslusarek

[2019-09-09 11:39] #234 closed, assigned to martiniil

[2019-09-10 12:38] jschleicher commented on #228
This concerns e.g. launch files in the folder

https://github.com/PilzDE/pilz_robots/blob/4d49235f22a0816058a40117aeb5f22b850d31f1/prbt_hardware_support/launch/stop1_executor_node.launch#L18-L20

Sometimes a reference to the main readme would be enough, but in this case the readme doesn't mention `stop1_executor_node` at all.

[2019-09-11 04:36] JonathanGruner commented on #228
Another great exampel would be:
https://github.com/PilzDE/pilz_robots/blob/4d49235f22a0816058a40117aeb5f22b850d31f1/prbt_hardware_support/launch/modbus_client.launch#L29-L40

I don't want to bother you with a detailed description of each command/parameter, but if you could briefly explain what you are doing I would be happy :)

For example: num_first_register_to_read: First register adress of 4x r

[2019-09-11 07:39] martiniil commented on #230
catched on the ROS buildfarm:
http://build.ros.org/job/Mdev__pilz_robots__ubuntu_bionic_amd64/67/testReport/junit/(root)/PilzModbusClientTests/testSettingReadFrequency/

[2019-09-18 08:30] JonathanGruner commented on #228
https://github.com/PilzDE/pilz_robots/blob/24a1c5dd8ad6be342b27bfef5a3bb13b471003ef/prbt_hardware_support/config/modbus_read_api_spec_pss4000.yaml#L1-L4

Here you could write an comment, that users are able to add different Registers

[2019-09-18 08:35] JonathanGruner opened #250 "Missing Modbus information"
Hello ROS-Team,

could you please briefly explain, how to send/receive own Modbus registers via pilz_modbus-function?
I talked with @martiniil he explained that you have to read the topic or call a service and give them your array and your index. Another good detail was that the communication is thread safe.

This were enough information to help the customer, but I would request a full, short docu

[2019-09-19 13:57] martiniil opened #252 "Requirement stop1_missing_services is not tested"
### Commit
melodic-devel at 826fe36ab38362c43a31caf5fbe908215377a249

### Steps to reproduce
`rosdoc_lite prbt_hardware_support/`

### Log

[2019-09-26 11:02] agutenkunst opened #253 "Add all packages to the package.xml in the metapackage"

[2019-09-27 09:28] jschleicher commented on #253
You mean what is installed on `apt install ros-*-pilz-robots`?

* `pilz_testutils` is deliberately missing, since we do not want to pollute the end-user's installation with test-packages (only `test-depend` for other packages)
* prbt_gazebo is missing (as far as I remember), because it isn't required and moveit-fake-execution is enough for most users
* `pilz_control` and `prbt_hardware_support` ar

[2019-10-07 06:16] martiniil commented on #230
Fixed via #243. Re-open if it occurs again.

[2019-10-07 06:16] #230 closed, assigned to martiniil

[2019-10-08 18:31] #252 closed, assigned to nobody

[2019-10-08 18:45] agutenkunst commented on #253
I came from a totally different perspective: http://wiki.ros.org/pilz_robots
And I wondered why the list on top is so short...

[2019-10-10 07:50] #253 closed, assigned to agutenkunst

[2019-10-11 12:47] ct2034 opened #268 "Indeed. Feel free to file a PR upstream."
Indeed. Feel free to file a PR upstream.

_Originally posted by @jschleicher in https://github.com/PilzDE/pilz_robots/pull/186/files_

[2019-10-11 12:47] #268 closed, assigned to nobody

[2019-10-16 08:27] agutenkunst commented on #187
Did not occurred again so far. Will close for now. Please reopen if needed.

[2019-10-17 07:26] agutenkunst commented on #187
Reopen ;-)
I just realized you could use sim time in this test.
See http://docs.ros.org/melodic/api/rostime/html/classros_1_1Time.html#ab569bffab97380d8a73275cdc02afb8f this would maybe even enable turning this into a unittest...

@martiniil what do you think?

[2019-10-18 12:26] leunMar commented on #187
I would like this very much. But I don't agree on re-opening this issue. Or did you observe that the test is still unstable? If not, I would suggest that you either change the title of this issue (and remove the bug-label) or open a new issue.

[2019-10-22 11:22] jschleicher commented on #180
Working with the real robot, this can be configured with `ros_canopen`. If you add PDO-mapping of velocity registers (see dcf), the velocity actual values are published (same for effort).

Of course this is a performance trade-off: Either you can send set-positions faster (e.g. 5ms cycle-time) or you can read all the actual values back from the robot. I think, the default is okay thus removing the

[2019-10-22 12:39] leunMar commented on #187
Test failed again: (exceeds max time 60.0s) https://api.travis-ci.org/v3/job/601221025/log.txt

[2019-10-23 12:25] #116 closed, assigned to agutenkunst

[2019-11-12 19:52] HiddenBug opened #282 "Simply CMake commands to use sanitizing"
_Originally posted by @agutenkunst in
https://github.com/PilzDE/pilz_robots/pull/281#discussion_r344791573

[2019-12-03 12:32] #180 closed, assigned to nobody

[2019-12-06 09:56] martiniil opened #293 "Incomplete system specification for speed monitoring/override"
There are things missing in the system specification for the speed monitoring and the speed override in `prbt_hardware_support/spec.dox`. Probably also tests are missing.

- speed monitoring in case `has_operation_mode_support:=false` or `sim:=true`: robot is allowed to move with max speed.

- speed override in case `has_operation_mode_support:=false` or `sim:=true`: 1.0

[2020-01-09 07:31] martiniil commented on #293
I guess if there is no speed monitoring, it simply can be omitted in the spec.

[2020-01-13 01:27] CloudYin opened #297 "Trigger another robot movement process via sensor signals"
**Is your feature request related to a problem? Please describe.**
In the laser scanner callback function, I want to implement a code that the robot move in a new path after an area of scanner is intruded. If I use some move command in scanner callback function. A RobotMoveAlreadyRunningError error will appear:

[ERROR] [1578287684.790064]: bad callback: <function laser_scan_callback at 0x7f011a5c

[2020-01-14 10:57] agutenkunst opened #299 "Random chars at the end of firmware string"
### Commit
db438915d632097fc1c29a9ebaefad27370f396b

### Steps to reproduce
Launch robot with real system

### Expected behavior
Firmware of each joint is displayed properly

### Observed behavior
Random chars are added to the firmware string

### Logfiles
[code]

Result of command below see [candump.log](https://github.com/PilzDE/pilz_robots/files/4058800/candump.log)
[code]

[2020-01-14 22:40] HiddenBug opened #301 "CAN driver needs to be manually restarted after CAN disconnect"
### Observed behavior
If the connection to the robot is lost and, subsequently, established again, the CAN driver needs to be manually restarted via:
[code]
This statement remains true, even if the root-user changes the `/etc/network/interfaces` to automatically start the CAN driver via:
[code]

**Please note:**
- The connection to the robot can be lost e.g. if the control cabinet is turned off an

[2020-01-20 13:05] #293 closed, assigned to nobody

[2020-01-31 16:50] ct2034 opened #304 "Coverage for nose tests on travis"
We can currently not run pure python tests (i.e. nosetests) on travis.
I tried it here: https://github.com/PilzDE/pilz_robots/pull/285/commits/362ee70766419dcedc3f12e0b2b185b66e41f961
@agutenkunst  added instructions, how to run it locally here: https://github.com/PilzDE/pilz_robots/pull/285/commits/44fb88e0d26b9cd233d79d84767f02fbf8b9ebd6

[2020-02-06 11:02] martiniil commented on #187
Should be fixed via fcc9c2c.

[2020-02-06 11:02] #187 closed, assigned to nobody

[2020-02-12 07:21] JonathanGruner opened #309 "Modbus Specification"
Could you please briefly describe the modbus specification here?
Not only the registers themselves, but also the contents of the registers, which value stands for which function. Also if this function is already available and how to activate it would not be bad.
For example;

- Yaml-Parameter: OPERATION_MODE
- Register: 970
- 1-->Manual reduced speed, 2-->Manual High speed, 3-->Automatik
- prbt_mo

[2020-02-13 10:14] JonathanGruner opened #310 "Offer a service from modbus read client"
Please replace the modbus_read **topic** with an **service**, where I can hand over the register number, and receive the content of this register.

[2020-02-14 08:50] ct2034 commented on #310
Currently, this is implemented such that it repeatedly checks the defined registers and successively publishes the topic if the register values changed. I think this is a very neat solution. If we would change it to a service, all nodes requiring the data would need to repeatedly poll the service. I think is this not desirable in terms of traffic and usability. The publish-subscribe pattern (https

[2020-02-14 08:59] ct2034 commented on #309
Do you think it would make sense to add this information in e.g. [prbt_hardware_support/config/modbus_read_api_spec_pss4000.yaml](https://github.com/PilzDE/pilz_robots/blob/melodic-devel/prbt_hardware_support/config/modbus_read_api_spec_pss4000.yaml)? Yaml supports comments (https://www.tutorialspoint.com/yaml/yaml_comments.htm) so this should not be a problem.

[2020-02-14 20:44] JonathanGruner commented on #309
Definitely makes sense!
I just added it, see both pull requests.
I am not aware of the PNOZ Spec, maybe you can add the description in this file?

[2020-02-14 20:53] JonathanGruner commented on #310
I like the idea of making the Modbus Client more standalone! We will talk about that in the next meeting!
Currently I had some issues with two Modbus clients (the other one was pymodbus) --> They were somehow blocking each other.
I just recognized that I could copy the specification yaml files into my workspace and give the path as an argument to robot.launch. I guess with modifying those files, I

[2020-02-14 21:13] JonathanGruner commented on #310
See Issue #250
https://github.com/PilzDE/pilz_robots/issues/250

[2020-02-14 21:13] #310 closed, assigned to nobody

[2020-02-14 21:18] JonathanGruner commented on #228
Closed regarding to closed issue #309 (Modbus specification) and #250 (Missing Modbus information)

[2020-02-14 21:18] #228 closed, assigned to nobody

[2020-02-24 17:23] agutenkunst commented on #299
@jschleicher could you provide more objects which are strings? I would like to see if they are all off-by-one, if yes this could be an issue with https://github.com/ros-industrial/ros_canopen if not this is on us.

[2020-02-25 10:58] jschleicher commented on #299
@agutenkunst The version registers 0x1008-0x100A are strings, see https://github.com/PilzDE/pilz_robots/blob/melodic-devel/prbt_support/config/prbt_0_1.dcf (grep for `DataType=0x0009`).

[2020-02-27 19:35] #299 closed, assigned to nobody

[2020-04-03 07:46] ct2034 opened #326 "Travis fails for missing ros-melodic-moveit-ros-visualization"
All builds on the current _testing_ deb repo are failing.
For example: https://travis-ci.org/github/PilzDE/pilz_robots/jobs/670125275

[code]

[2020-04-03 15:04] ct2034 opened #327 "Reorganisation of launch files"
I think it is fairly confusing, especially for new users, that launch files in one package heavily influence stuff from other packages (and back).
Especially `prbt_support/launch/robot.launch` which is the default way to configure the nodes from `prbt_hardware_support`.
Same goes for `prbt_moveit_config/launch/moveit_planning_execution.launch`.
(`prbt_moveit_config` has also way too many launch fi

[2020-04-03 17:31] ct2034 commented on #326
The error happened on the buildfarm, too. But seems to be fixed there now. http://build.ros.org/job/Kdev__pilz_robots__ubuntu_xenial_amd64/

[2020-04-06 06:56] martiniil opened #328 "Provide hold/unhol via action interface"
Original comment by @hslusarek

Full discussion: https://github.com/PilzDE/pilz_robots/pull/308#discussion_r402408833

[2020-04-06 07:08] martiniil commented on #328
I agree that the user interface would be easier to understand.

Depends on how you want to implement this. The decision to make `unhold` not waiting reduced the complexity in `traj_mode_manager.h`. So I am not sure, which problems you are talking about.

[2020-04-06 07:14] martiniil commented on #326
http://repositories.ros.org/status_page/ros_melodic_default.html?q=moveit_ros_visualization

https://github.com/ros-planning/moveit/issues/1996

[2020-04-06 10:44] jschleicher opened #329 "Allow robot.launch without modbus"
### Commit
44a3d6b

### Steps to reproduce
1. create your own application package as in https://github.com/PilzDE/pilz_application_templates/
2. try to startup without modbus connection

### Expected behavior
bringup should be possible without modbus (at least for debugging whether a communication problem lies in can or modbus connection)

### Observed behavior
Startup always includes modbus.

Fro

[2020-04-06 12:25] hslusarek commented on #328
My way of thinking is actually pretty simple:
If I'm the user it would "surprise" me if the `hold` service is blocking, while it's counterpart the `unhold` service is not blocking. This is confusing. It has only marginally something to do with code complexity. API's should never be surprising. They should be intuitive and easy to understand and reason about. This is, in my opinion, not the case he

[2020-04-06 15:06] martiniil commented on #329
This sounds more like a missing feature. I think we can combine this with #327.

[2020-04-06 15:17] martiniil commented on #328
Well, then let's agree that this is only about the user interface. I thought you see more problems, that the action server approach can solve.

Trying to get a common view:
A service call is always blocking. You probably mean, that the `unhold` is not blocking until it can be executed? Why should that change with the action server?

[2020-04-07 08:23] hslusarek commented on #329
@dbakovic is going to write a story for this issue. Therefore, I more or less consider this issue closed.

[2020-04-07 08:35] hslusarek commented on #328
Exactly.

Actually, the code in the `PilzJointTrajectoryController` would not change that much. However, using an action instead of a service, we provide a `Feedback` and a `Result`. With the `Feedback` and the `Result` the user of our `PilzJointTrajectoryController` can decide for himself, if he wants to make his calling code blocking or not blocking. In other words, the decision if the `handleHo

[2020-04-07 09:34] martiniil commented on #328
No. The user only decides about his own thread, he cannot influence the goal execution. Or do you think he should have the possibility of cancelling a hold/unhold goal?

[2020-04-07 14:25] hslusarek commented on #328
No, the cancelling should not be possible. All I'm saying is: The user can decide for himself if he wants to wait _in his own thread_ or not, using the `Feedback` and the `Result`. Or, in other words, that's the option we should provide the user with. Because we (at least in my opinion) cannot reasonably decide if the services should be blocking or not, therefore, I suggest leaving the choice to t

[2020-04-07 14:50] martiniil commented on #328
Yeah, I agree about using the action interface. But in my opinion the `unhold` should never wait for its execution. I guess we have to consult more opinions in order to get clear requirements.

[2020-04-08 07:17] martiniil opened #333 "Introduce timeout in AsyncTest"
**Problem**
Regard a test that waits for an asynchronous event using `AsyncTest::barricade`. If the event is not triggered the test waits until the time for the test is completely used up. Then you cannot deduce from the test report why it failed.
This makes it very hard to debug.

**Possible solution**
Add a timeout to `AsyncTest::barricade` such that a test failure with a context-related message

[2020-04-08 09:45] martiniil commented on #326
Fixed: https://travis-ci.org/github/PilzDE/pilz_robots/builds/672431148

[2020-04-08 09:45] #326 closed, assigned to nobody

[2020-04-08 09:46] martiniil opened #334 "Travis fails (melodic_devel: pilz_utils coverage job)"
https://travis-ci.org/github/PilzDE/pilz_robots/jobs/672431150

[2020-04-08 09:54] martiniil commented on #334
Probably due to new release of https://github.com/mikeferguson/code_coverage

[2020-04-09 10:11] jschleicher commented on #327
I like the overall idea, but regarding your points 3 and 4 I'd like to object:

the `*_moveit_config` package is generated from and compatible with the moveit_setup_assistant. The files load e.g. the robot_description, joint and cartesian limits and semantic description, that cannot be hardware-independent :-(

Our `*_bringup` package IS `prbt_support`. During ROSIN we discussed with Nadia, if we

[2020-04-09 17:53] tswie opened #337 "ROSException: timeout exceeded while waiting for service /prbt/get_speed_override"
- [ ] test

### Commit
Latest melodic push.

### Steps to reproduce
This happens when I attempt to run a motion server for my robot using PILZ.

### Expected behavior
The server should launch and await requests from other programs.

### Observed behavior
The initialization times out waiting for the /prbt/get_speed_override service. This code previously worked on kinetic.

Which node is supposed to

[2020-04-15 14:17] hslusarek commented on #337
Hello,
first off, thanks for your report. In order, to understand your problem I need more information.

Firstly, what do you mean by "latest melodic push"? Do you mean commit ce7cb7f5c6e23057b7a9dd6611e725a0d090d0d3 from [pilz_robot](https://github.com/PilzDE/pilz_robots)?

The service `/prbt/get_speed_override service` is provided by the `OperationModeSetupExecutor` see [operation_mode_setup_exe

[2020-04-15 14:25] hslusarek commented on #337
The `/prbt/get_speed_override` service also exists in `kinetic-devel` see [operation_mode_setup_executor_node.cpp](https://github.com/PilzDE/pilz_robots/blob/73d2dc0aa4ce163025bfa24710f51d6063f55338/prbt_hardware_support/src/operation_mode_setup_executor_node.cpp#L80) on `kinetic-devel`.

[2020-04-20 08:24] #334 closed, assigned to martiniil

[2020-04-21 08:16] ct2034 opened #339 "Write Tutorial on how-to setup robot"
Create a tutorial which explains:
- [x] how to connect the cables to the robot,
- [x] launch a simple bring-up application.
- [ ] troubleshooting
- [x] terminate can
- [x] can baudrate

http://wiki.ros.org/pilz_robots/Tutorials/HowToSetupTheRobot

[2020-04-21 08:16] ct2034 opened #340 "Try out tutorial (at robot)"

[2020-04-21 08:18] ct2034 opened #341 "Get feedback from Competence Centers"

[2020-04-21 08:18] ct2034 opened #342 "Incorporate feedback from Competence Centers"

[2020-04-21 08:18] ct2034 opened #343 "Review new tutorial"
Current under progress at http://wiki.ros.org/pilz_robots/Tutorials/HowToSetupTheRobot

[2020-04-21 08:21] ct2034 opened #344 "Incorporate review feedback"

[2020-04-21 08:22] ct2034 opened #345 "Link on overview page (http://wiki.ros.org/pilz_robots/Tutorials)"

[2020-04-21 08:23] ct2034 opened #346 "Incorporate feedback from try-outs"

[2020-04-21 08:28] ct2034 opened #347 "Work through tutorials"
http://wiki.ros.org/pilz_robots/Tutorials

[2020-04-21 08:43] ct2034 opened #348 "Adapt readme"

[2020-04-21 08:54] martiniil opened #349 "Launch without safety: Decide on approach"
See https://github.com/PilzDE/pilz_robots/issues/329
and https://github.com/PilzDE/pilz_robots/issues/327

[2020-04-21 08:55] martiniil opened #350 "Launch without safety: Implementation"

[2020-04-21 08:55] martiniil opened #351 "Launch without safety: Review"

[2020-04-21 08:56] martiniil opened #352 "Launch without safety: Merge"

[2020-04-21 13:08] martiniil commented on #329
@jschleicher
- Should the user be able to command robot movements in general?
- Should the user be able to command the robot via the Python API?

[2020-04-22 09:18] jschleicher commented on #337
@tswie The service is provided by the modbus communcation nodes when running a real PRBT hardware setup including safety controller. Without operationmode feature just launch `fake_speed_override_node` as in https://github.com/PilzDE/pilz_robots/blob/melodic-devel/prbt_hardware_support/launch/fake_safety_interface.launch.

[2020-04-22 09:18] #337 closed, assigned to nobody

[2020-04-22 09:28] jschleicher commented on #301
Plugging off/on the USB cable (PCANusb) should re-initialize the driver. Maybe add a note to troubleshooting section of #339?

[2020-04-22 10:24] #349 closed, assigned to ct2034, martiniil, hslusarek, SansoneG

[2020-04-22 10:25] #350 closed, assigned to martiniil, SansoneG

[2020-04-22 12:53] hslusarek commented on #339
Created empty tutorial page: [pilz_robots/Tutorials/HowToSetupTheRobot](https://wiki.ros.org/pilz_robots/Tutorials/HowToSetupTheRobot)

[2020-04-22 14:50] martiniil commented on #350
See #353

[2020-04-22 15:13] #348 closed, assigned to martiniil

[2020-04-23 07:19] #333 closed, assigned to nobody

[2020-04-23 12:36] SansoneG opened #356 "rosdep cannot find definition for `pilz_status_indicator_rqt`"
### Commit
9aec9cd6b

### Steps to reproduce
1. run `rosdep check prbt_support`

### Expected behavior
List all missing system dependencies for package `prbt_support`

### Observed behavior
Missing system dependencies are displayed fine except for `pilz_status_indicator_rqt`

### Logfiles
`rosdep check prbt_support` yields:
[code]

`apt-cache search pilz rqt` yields:
[code]

### Additional Info
`a

[2020-04-24 07:39] martiniil commented on #339
Files for the tutorial: https://github.com/PilzDE/pilz_tutorials/pull/12/files

[2020-04-26 01:09] CloudYin opened #358 "Modbus disconnected when Basler camera is taking a picture"
### Steps to reproduce
How can the issue/bug be reproduced?
1. Launch the robot, execute a move script.
2. After the robot moves to a defined pose. Take a picture by Basler camera, using standard script by Basler.
[https://github.com/basler/pypylon/blob/master/samples/save_image.py](url)
3. Error occurred. Modbus disconnected.

### Expected behavior
Camera take a picture when the robot is at the d

[2020-04-27 13:36] agutenkunst commented on #347
@saheinisch Close?

[2020-04-27 13:38] #351 closed, assigned to ct2034

[2020-04-27 14:28] ct2034 opened #359 "Plan when and if the repos are released"

[2020-04-28 07:12] SansoneG commented on #339
Consider using [GetTaggedCode](http://library.isr.ist.utl.pt/docs/roswiki/WikiMacros.html#GetCode.2C_GetTaggedCode) to keep the tutorials synced with github repo.
Same for https://github.com/PilzDE/pilz_tutorials/pull/12#issue-408381844

[2020-04-28 07:22] SansoneG commented on #339
[Model your first application using the Pilz Manipulator Module PRBT](https://wiki.ros.org/pilz_robots/Tutorials/ModelYourApplicationWithPRBT) -> This is listed as `Next Tutorial` and under `Prerequisites`

[2020-04-28 07:55] #352 closed, assigned to nobody

[2020-04-28 08:05] jschleicher commented on #343
Some comments from my side:
[tutorial_real_robot_01_.pdf](https://github.com/PilzDE/pilz_robots/files/4544206/tutorial_real_robot_01_.pdf)

[2020-04-28 09:21] PilzES commented on #343
I've got a few suggestions and questions:

- I guess from the provided example that It is now possible to run the robot *without* the safety PLC. There should be a warning somewhere indicating clearly that this is _not_ a production-ready method. I know there's one at the beginning about system integrators, but maybe adding a comment when flagging `<arg name="iso10218_support" value="false"/>` wou

[2020-04-28 10:47] SansoneG commented on #343
My comments https://github.com/PilzDE/pilz_robots/issues/339#issuecomment-620424958 and https://github.com/PilzDE/pilz_robots/issues/339#issuecomment-620429151

[2020-04-28 13:33] jschleicher commented on #343
@PilzES Thanks for your comment! More tutorials regarding a complete 10218 safety compliant application are in the Backlog.
So we deliberately defer your second point to the next tutorial(s), focusing on just the CAN connection here.

[2020-04-28 15:33] agutenkunst commented on #343
@jschleicher  thanks for your input

I addressed the following from your comments so far:
- Remove "Next tutorial" which was simply wrong
- Merge Warning Boxes
- Replace "CERTAIN" with "SURE"
- Remove "Basic ROS knowledge." since this is redundant with the requirement for the other tutorial
- Remove the manual can bringup section
- Add a description of the desired effect of the "roslaunch" (rviz s

[2020-04-28 15:50] agutenkunst commented on #343
Hi @PilzES
is http://wiki.ros.org/action/diff/pilz_robots/Tutorials/HowToSetupTheRobot?action=diff&rev1=18&rev2=19 ok for you?

[2020-04-28 15:51] agutenkunst commented on #343
@jschleicher does this also address this comment from @PilzES ?

[2020-04-28 15:52] agutenkunst commented on #339
If fixed this.

[2020-04-28 16:33] agutenkunst commented on #340
@ct2034 @saheinisch Close this issue?

[2020-04-29 08:09] agutenkunst commented on #359
After consulting with the team this issue needs a melodic release today.

[2020-04-29 08:12] #341 closed, assigned to nobody

[2020-04-29 08:13] #342 closed, assigned to nobody

[2020-04-29 12:12] agutenkunst commented on #304
Solved by https://github.com/mikeferguson/code_coverage ? @ct2034

[2020-04-29 13:25] jschleicher commented on #304
No. That's just `rostest` which we currently use already. The problem of pure python tests remains.

[2020-04-29 13:32] jschleicher commented on #329
Solved with #353

[2020-04-29 13:32] #329 closed, assigned to dbakovic

[2020-04-30 07:39] #343 closed, assigned to agutenkunst

[2020-04-30 07:52] #340 closed, assigned to SansoneG, saheinisch, cdoehn

[2020-04-30 07:52] #339 closed, assigned to ct2034, agutenkunst

[2020-04-30 07:52] #347 closed, assigned to saheinisch, cdoehn, tobi-v

[2020-04-30 07:56] #344 closed, assigned to saheinisch, cdoehn

[2020-04-30 09:07] jschleicher commented on #359
Please also update https://github.com/PilzDE/pilz_application_templates/blob/4b0cd240aac62ac7a94ff0d8c2418c319ca14bdf/prbt_default_application/CHANGELOG.rst with the new pilz_robots version and date of release. Thanks!

[2020-04-30 14:44] agutenkunst commented on #301
@tobi-v was able to confirm this on the real hardware. sudo ist not needed.

[2020-04-30 14:44] #301 closed, assigned to tobi-v

[2020-04-30 14:48] #346 closed, assigned to nobody

[2020-05-03 12:46] agutenkunst opened #364 "Move OperationMode.msg into pilz_msgs"
Would avoid circular dependencies.

E.g. see
https://github.com/PilzDE/pilz_robots/pull/362
https://github.com/PilzDE/pilz_robots/pull/362#issuecomment-622551665

[2020-05-03 14:51] agutenkunst commented on #345
Done.

[2020-05-03 14:51] #345 closed, assigned to agutenkunst

[2020-05-03 15:02] agutenkunst opened #365 "Adapt Application Template"
See https://github.com/PilzDE/pilz_application_templates/pull/22

See https://github.com/PilzDE/pilz_robots/issues/359#issuecomment-621711135

[2020-05-03 15:05] agutenkunst commented on #359
https://github.com/ros/rosdistro/pull/24700

[2020-05-03 15:05] #359 closed, assigned to martiniil

[2020-05-04 07:54] #365 closed, assigned to nobody

[2020-05-04 08:01] agutenkunst commented on #356
Tested with b5d88cf6b3d0628ec25a5720522ed4a7d213c4fe

Cannot reproduce.

`rosdep check prbt_support` yields:

[code]

[2020-05-04 08:02] agutenkunst commented on #356
Also cannot reproduce with 9aec9cd

[2020-05-04 08:02] agutenkunst commented on #356
@SansoneG Close ok?

[2020-05-04 13:49] SansoneG commented on #356
I investigated again. Running `rosdep update` solved the problem. Thanks

[2020-05-04 13:49] #356 closed, assigned to nobody

[2020-05-05 13:27] SansoneG opened #366 "Execute Acceptance tests at real robot"
Have a look at `pilz_robots` and `pilz_industrial_motion` for Acceptance Tests.

[2020-05-05 13:38] SansoneG opened #367 "Check for known errors"
**Known errors:**
- [x] Quickly press and release the enabling switch repeatedly
- [x] Start system with and without enabling switch pressed

**-**
- [x] Write Acceptance Tests for known errors

**Additonal Info:**
See #93

[2020-05-05 13:48] SansoneG opened #368 "run demo_scripts on real robot"
Run the scripts in https://github.com/PilzDE/pilz_industrial_motion/tree/melodic-devel/pilz_robot_programming/examples:

- [x] demo_brake_test_program
- [x] demo_gripper_program
- [x] demo_program

[2020-05-05 13:52] SansoneG opened #369 "Add supported firmware versions to README"
Version 1.1.0 should be the only supported version.

[2020-05-05 13:58] SansoneG opened #370 "Automate an existing acceptance test with test cell and new firmware"
- [ ] Choose an acceptance test from https://github.com/PilzDE/pilz_industrial_motion/tree/melodic-devel/pilz_robot_programming/test/acceptance_tests
- [ ] Automate it like example found at https://github.com/PilzDE/pilz_testutils/tree/melodic-devel/pilz_robot_tfc_api/examples
- [ ] Implement measurement API e.g. allowing the tests to evaluate the motion of the robot during test
- [ ] Write how-to

[2020-05-06 07:09] SansoneG opened #371 "Determine minimum required nodes to launch"
Status Indicator should show operation mode. Confirm by checking PRCM HW.

[2020-05-06 07:18] SansoneG opened #372 "Write Tutorial Modbus"
- [ ] Write Tutorial on http://wiki.ros.org/pilz_robots/Tutorials
- - [ ] Introduction including architecture
- - [ ] How to run
- - [ ] Troubleshooting

- [ ] Add Tutorial files in https://github.com/PilzDE/pilz_tutorials

[2020-05-06 07:19] SansoneG opened #373 "Review Tutorial Modbus"

[2020-05-06 07:20] SansoneG opened #374 "Link Tutorial modbus on overview page"
http://wiki.ros.org/pilz_robots/Tutorials

[2020-05-06 07:22] SansoneG opened #375 "Try out tutorial modbus with real PRCM"

[2020-05-06 07:22] SansoneG opened #376 "Incorporate feedback from try out into tutorial modbus"

[2020-05-06 07:31] SansoneG opened #377 "Automated Tests?"
Is it possible to test the new launch-file automatically?

[2020-05-06 10:58] martiniil commented on #367
In order to check if the EMCY reported in #93 would still appear, we could check out the last commit before the fix: fe648ea84569858d58ea9e4c40296f3409609412.

It is not relevant for us now, but it would confirm that it is fixed in the firmware.

[2020-05-06 14:03] SansoneG commented on #366
The following was noticed while executing braketests at the real robot:
- testing limit for joint 5 doesn't make sense
- the folder names for acceptance tests isn't consistent (e.g. `prbt_support `and `prbt_hardware_support`)
- test could be made more efficient
- Wrong value is written to modbus in https://github.com/PilzDE/pilz_robots/blob/melodic-devel/prbt_hardware_support/src/modbus_adapter_br

[2020-05-06 15:05] #368 closed, assigned to martiniil

[2020-05-06 15:27] martiniil commented on #367
Created new PR #378

[2020-05-06 15:28] #367 closed, assigned to martiniil

[2020-05-06 15:30] martiniil opened #379 "Modbus API Break?"
### Commit
b5d88cf6b3d0628ec25a5720522ed4a7d213c4fe

### Steps to reproduce
[code]

### Expected behavior
Result is `-1`

### Observed behavior
Result is `1`, like before the braketest.

[2020-05-06 15:30] martiniil commented on #366
We detected a problem: #379

[2020-05-06 15:30] #366 closed, assigned to martiniil, saheinisch, cdoehn

[2020-05-07 10:54] jschleicher commented on #374
As a tutorial series, adding it from the [first tutorial](http://wiki.ros.org/pilz_robots/Tutorials/HowToSetupTheRobot) as "next" should also add it to the overview page.

[2020-05-07 13:11] martiniil commented on #379
In #312 the new api should be documented.

[2020-05-07 15:25] ct2034 opened #382 "Failing Modbus connection often produces no error message"
### Commit
b5d88cf6b3d0628ec25a5720522ed4a7d213c4fe

### Steps to reproduce
1. make sure Modbus connection can be established.
2. disconnect the ethernet cable
3. try to establish Modbus connection again

### Other
The same behaviour happens when:
* wrong port is set
* ethernet disconnected
* if own IP is in the wrong subnet
(Only if the target IP is wrong but in the correct subnet and the own IP

[2020-05-07 15:44] ct2034 commented on #379
The values that correlate to the operation modes have also changed. In our control cabinet (in relation to the labels on pitmode)

[2020-05-07 15:58] #371 closed, assigned to SansoneG

[2020-05-08 07:47] hslusarek commented on #370
Please see PR #269

[2020-05-08 09:40] SansoneG commented on #374
That is correct. I'm wondering though, whether a tutorial series is the appropriate tool to use in this case, since there is no logical progression between the CAN tutorial and the Modbus tutorial.
A user should be able to execute them chronologically independent from each other,

[2020-05-08 10:02] jschleicher commented on #370
Since the current PBI is mostly about enabling and stopping, maybe https://github.com/PilzDE/pilz_robots/blob/melodic-devel/prbt_hardware_support/test/acceptancetests/acceptancetest_stop1.md would be a good first candidate for automation?

[2020-05-08 13:03] martiniil commented on #379
I started implementing the changes: #385

[2020-05-12 08:10] hslusarek commented on #372
Story delayed -> Close.

[2020-05-12 08:10] #372 closed, assigned to ct2034, SansoneG

[2020-05-12 08:10] hslusarek commented on #373
Story delayed -> Close.

[2020-05-12 08:10] #373 closed, assigned to saheinisch

[2020-05-12 08:11] hslusarek commented on #374
Story delayed -> Close.

[2020-05-12 08:11] #374 closed, assigned to nobody

[2020-05-12 08:11] hslusarek commented on #375
Story delayed -> Close.

[2020-05-12 08:11] #375 closed, assigned to nobody

[2020-05-12 08:11] hslusarek commented on #376
Story delayed -> Close.

[2020-05-12 08:11] #376 closed, assigned to nobody

[2020-05-12 08:11] hslusarek commented on #377
Story delayed -> Close.

[2020-05-12 08:11] #377 closed, assigned to nobody

[2020-05-12 11:22] jschleicher commented on #379
Is this break on ROS side or on PSS4k side? `-1` looks more like a bug in the implementation (uninitialized) than an update to the specification needing a new version?

[2020-05-12 12:07] #369 closed, assigned to martiniil, SansoneG

[2020-05-13 14:32] SansoneG opened #389 "New Release pilz_robots in melodic"

[2020-05-14 13:59] #370 closed, assigned to hslusarek

[2020-05-14 14:00] martiniil commented on #370
Delayed until test cell is ready.

[2020-05-15 12:08] #389 closed, assigned to martiniil, hslusarek, SansoneG, saheinisch, cdoehn

[2020-05-19 13:13] martiniil opened #392 "Melodic-merge"
PR: #308

[2020-05-19 13:14] martiniil opened #393 "Perform acceptance tests"
PR: #308

Depends on #398

[2020-05-19 13:14] martiniil opened #394 "Release pilz_robots"
PR: #308

[2020-05-19 13:15] martiniil opened #395 "CI pass"
PR: #308

[2020-05-19 13:15] martiniil opened #396 "Sprint review preparation for T1 mode"

[2020-05-19 13:17] martiniil opened #397 "Get PO approval for T1 mode"

[2020-05-19 13:22] martiniil opened #398 "Write acceptance tests for speed monitoring"
PR: #308

ToDo:
- [x] Implement test (draft)
- [x] Run (and revise) test with real robot

Should include:
- Switch between possible operation modes & check if speed monitoring is correct.
- Check correct set-up after startup of facility.

Could be helpfull here:
- Add the following test / Check if still valid: 4fa7370144e5aa399e0eac0d60722344112c806f
- Observing the speed via `/joint_states`: 3d1a

[2020-05-20 12:43] #395 closed, assigned to martiniil

[2020-05-26 13:07] martiniil opened #400 "Review acceptance test (READY)"
See #308 commit 49d3e03.

[2020-05-26 14:45] #398 closed, assigned to martiniil, saheinisch

[2020-05-27 10:49] agutenkunst commented on #400
I checked
https://github.com/PilzDE/pilz_robots/blob/49d3e03b191f84367f583cf9f9e0505e020b5cef/pilz_control/test/acceptance_test_speed_monitoring.md

https://github.com/PilzDE/pilz_robots/blob/49d3e03b191f84367f583cf9f9e0505e020b5cef/pilz_control/test/acceptance_test_speed_monitoring.py
and had some remarks.

See https://github.com/PilzDE/pilz_robots/pull/308#pullrequestreview-419066442

[2020-05-27 10:49] agutenkunst commented on #400
Reassign on @martiniil

[2020-05-27 12:26] martiniil commented on #400
@agutenkunst Why did you skip the other files? `joint_states_speed_observer.*`?

[2020-05-27 17:41] agutenkunst commented on #400
Sry missed. Now added comments.

See especially https://github.com/PilzDE/pilz_robots/commit/49d3e03b191f84367f583cf9f9e0505e020b5cef#r39482161

but also the other comments....

[2020-05-28 10:02] martiniil opened #402 "Error Code is not shown when executing braketest from terminal"
Commit d31686c0434a5848105121e8a155a8ad16d77989

In [acceptancetest_execute_brake_test.md](https://github.com/PilzDE/pilz_robots/blob/melodic-devel/prbt_hardware_support/test/acceptance_tests/acceptancetest_execute_brake_test.md) we assumed that the error codes would be printed on the console when running `rosservice call /prbt/execute_braketest`. But this is not the case.

[2020-06-10 07:46] agutenkunst commented on #382
I check this and observed that if you run with some arbitrary IP
[code]
it will after some time throw an error (for me 130s)

This is due getting stuck at https://github.com/PilzDE/pilz_robots/blob/cddde81f7ec3f4ab8c25703cb04c034aa75af869/prbt_hardware_support/src/libmodbus_client.cpp#L40

In my opinion this could be fixed by simple calling `setResponseTimeout` before connecting, however since Ubu

[2020-06-15 07:10] martiniil opened #409 "Failure enabling drives after operation mode switch"
After performing the operation mode switch T1 -> AUTO, pressing the acknowledge button has no (visual or audible) effect.

In the log there appears a message about a timer problem:
[code]

[2020-06-15 07:19] martiniil commented on #409
Obviously, in AUTO mode there is no need for the acknowledge button ...

[2020-06-15 07:19] #409 closed, assigned to nobody

[2020-06-17 11:19] jschleicher commented on #379
Implemented in #385

[2020-06-17 11:19] #379 closed, assigned to martiniil

[2020-06-17 11:43] jschleicher commented on #382
Currently in progress, see #410

[2020-06-19 10:09] #400 closed, assigned to agutenkunst, martiniil

[2020-06-19 10:09] #397 closed, assigned to nobody

[2020-06-19 10:10] #392 closed, assigned to nobody

[2020-06-19 10:10] #393 closed, assigned to SansoneG

[2020-06-19 10:10] #394 closed, assigned to nobody

[2020-06-19 10:10] #396 closed, assigned to nobody

[2020-06-19 16:32] #382 closed, assigned to nobody

[2020-06-19 18:13] v4hn opened #415 "fatal error: 'gmock/gmock.h' file not found"
### Commit

`melodic-devel`

### Steps to reproduce

1. Probably only by setting up a non-debian Linux
2. Build

### Observed behavior

[code]

Looking at the respective `CMakeLists.txt`, `GMOCK_INCLUDE_DIRS` is not mentioned anywhere.
In another project I had to switch from `catkin_add_gtest` to `catkin_add_gmock` to fix this, but as this is a library, that wouldn't work. You probably have to add

[2020-06-22 14:30] SansoneG opened #418 "Planner plans trajectories that exceed acceleration limit."
### Commit
cb782c272ee6

### Steps to reproduce
How can the issue/bug be reproduced?
1. Switch into AUTO mode
2. Use RViz to plan a movement with velocity- and acceleration scaling 1.0.
3. Execute the movement.

### Expected behavior
Planning and Executing works without error.

### Observed behavior
Planning works, but executing fails. The robot doesn't even start moving.

### Logfiles
[code]
###

[2020-06-23 13:34] jschleicher commented on #65
Closing outdated issue. Please reopen with more info, if you experience a similar problem.

[2020-06-23 13:34] #65 closed, assigned to hslusarek

[2020-06-23 13:40] jschleicher commented on #214
Closing outdated issue.

[2020-06-23 13:40] #214 closed, assigned to nobody

[2020-06-23 13:40] jschleicher commented on #358
solved using a second ethernet interface. Separating modbus from other traffic.

[2020-06-23 13:40] #358 closed, assigned to jschleicher

[2020-06-23 13:43] jschleicher commented on #304
See PilzDE/pilz_industrial_motion#282 for how to integrate coverage for python nose tests.

[2020-06-23 13:43] #304 closed, assigned to ct2034, agutenkunst

[2020-06-29 13:36] hslusarek commented on #415
Thanks for your input. I looked into `joint_state_publisher_mock.cpp` and discovered that the `#include <gmock/gmock.h>` is actually not needed. I opened a PR #425 to remove the include.

[2020-06-29 15:11] hslusarek commented on #415
Ok, I also opened PR #426 which should add the missing includes, etc.

@v4hn Maybe you can try it out and see if it works for you.

[2020-06-29 20:00] v4hn commented on #415
Sorry, but I'm confused. Why do you propose to add the dependencies when the include is not necessary?

[2020-06-30 07:31] CloudYin opened #427 "API Version Error"
### Commit
Released version (after sudo apt upgrade)

### Steps to reproduce
How can the issue/bug be reproduced?
1. sudo apt update & sudo apt upgrade
2. In PNOZmulti m B0, set the register 513 to "2"
3. In the robot launch file, set:
    arg name="safety_hw" value="pnoz"
    arg name="iso10218_support" value="true"
    arg name="has_braketest_support" value="false"
    arg name="has_operation_mo

[2020-06-30 10:02] hslusarek commented on #415
Sorry, for the confusing communication. The `joint_state_publisher_mock.cpp` file does _not_ need the `gmock` include. However, the `async_test` does need the `gmock` include, although it's missing the corresponding `gmock` include right now.
For more information see my comment on PR https://github.com/PilzDE/pilz_robots/pull/426#issuecomment-651722245

[2020-06-30 12:12] v4hn commented on #415
Syntactically it does not need the include because it only defines preprocessor macros with the offending symbol, it does not use them.
As far as I can see, the whole library does not use a single gtest or gmock symbol in preprocessed code.

So of course you can add the dependencies, but everything is fine without them as well.
The only thing you gain would be a gmock include in `async_test.h`, wh

[2020-06-30 20:24] martiniil opened #429 "Failure of unittest_pilz_joint_trajectory_controller_is_executing (Travis)"
## Commit
1489a9f from here: https://github.com/PilzDE/pilz_robots/pull/408

## Log
[code]

Full log: https://travis-ci.org/github/PilzDE/pilz_robots/jobs/703499360

## Some thoughts
I don't think that this is related to the changes of https://github.com/PilzDE/pilz_robots/pull/408.

This is a sporadic failure. I haven't seen it locally, so far. I have no clue, which part of the code generates thi

[2020-07-01 10:49] hslusarek commented on #415
PR #430 is going to close this issue. Thx to everyone for the participation in the discussions.

[2020-07-02 14:37] hslusarek opened #433 "acceptance_test_speed_monitoring fails when executed on real robot"
### Commit
9aa67f91c75c1fd240d0562a6ef31a49bb264db9 on melodic-devel

### Steps to reproduce
Execute test as described in `acceptance_test_speed_monitoring.md` until (including) step 2.

### Observed behavior
Test fails in T1 at step 2 of `acceptance_test_speed_monitoring.md` with:
[code]

### Expected behavior
Test should run at real robot without problems.

### Logfiles
[code]

[2020-07-02 14:48] hslusarek opened #434 "acceptance_test_acceleration_limit fails when executed on real robot"
### Commit
9aa67f91c75c1fd240d0562a6ef31a49bb264db9 on melodic-devel

### Observed behavior
Test fails in step 3 of the test.

### Steps to reproduce
- Execute acceptance test as described in [`acceptance_test_acceleration_limit.md`](https://github.com/PilzDE/pilz_robots/blob/9aa67f91c75c1fd240d0562a6ef31a49bb264db9/pilz_control/test/acceptance_test_acceleration_limit.md) until step 3 (including s

[2020-07-02 15:00] martiniil commented on #434
[code]
Yes, I had this problem, too. You can use the Emergency-button+Reset as described here: https://github.com/PilzDE/robot_lab/blob/master/robot_instructions.md

[2020-07-02 15:00] martiniil commented on #434
So, did the test fail due to #418?

[2020-07-02 15:03] hslusarek opened #435 "Status indicator GUI shows red icons"
### Commit
9aa67f91c75c1fd240d0562a6ef31a49bb264db9 on melodic-devel

### Steps to reproduce
1. Start the ROS system as described in the [pilz_robots/README.md](https://github.com/PilzDE/pilz_robots/blob/melodic-devel/README.md#running-on-the-real-robot)
2. After start-up the status indicator GUI shows constantly red icons for ROS and the hardware:

![status_indicator_error](https://user-images.gi

[2020-07-02 15:08] hslusarek commented on #434
No, the test already failed beforehand. The controller was in hold-mode.

[2020-07-02 15:09] hslusarek commented on #434
My question is: Is that the general advice for a user which encounters the problem in a real application in AUTOMATIC mode?

[2020-07-02 15:21] martiniil commented on #433
I had a quick look and found something which might cause the failure: #436

[2020-07-03 10:54] jschleicher commented on #434
The current "experimental" PSS4k program requires that you press ESTOP once, before you can "Reset". Will be fixed for the final safety program.
Closing here.

[2020-07-03 10:54] #434 closed, assigned to nobody

[2020-07-03 11:11] jschleicher commented on #435
Thanks for reporting! That's a regression, we should investigate.

[2020-07-07 12:31] hslusarek commented on #427
@jschleicher Ping

[2020-07-07 12:32] #415 closed, assigned to hslusarek

[2020-07-09 19:41] agutenkunst opened #439 "Cyclic dependency between prbt_moveit_config and prbt_ikfast_manipulator_plugin"
### Commit
4be09959c4c7c85872a34b8f0ee66516c1bb5a81

### Reason
We have a dependency I guess because we need the plugin If we launch
https://github.com/PilzDE/pilz_robots/blob/4be09959c4c7c85872a34b8f0ee66516c1bb5a81/prbt_moveit_config/package.xml#L33

and we would need a test-dependency the other way around due to
https://github.com/PilzDE/pilz_robots/blob/4be09959c4c7c85872a34b8f0ee66516c1bb5a81

[2020-07-10 14:18] jschleicher commented on #439
What solution do you suggest?
* Move the ik test up into the *_moveit package?
* duplicate a minimal `test_context.launch` inside the *_ik package?
* ... other ideas?

[2020-07-15 13:17] agutenkunst commented on #439
Puuuh this is not easy. Somehow this seems fundamentally flawed since the *_ik packages is deeply bound to the robot_description it was generated from. (Sadly it does not generate some basic tests as well :-( ).

Possible solutions
1. Move the ik test up into the *_moveit package
  - Pro: Plugin is still tested locally.
  - Con: *_ik package is not self-contained. But as stated above it never real

[2020-07-15 13:31] agutenkunst commented on #439
Found more (but maybe better for another PR):
https://github.com/PilzDE/pilz_robots/blob/12495bc53ac05538d3c92c8cf9d79efcb7c354cc/prbt_support/test/urdf_tests.test#L20

[2020-07-20 12:50] JonathanGruner opened #444 "PNOZ safety hardware uses wrong registers + missing modbus_write_api_pnoz.yaml"
### Commit
Current one

### Steps to reproduce
How can the issue/bug be reproduced?
1. Connect PNOZ
2. Download pilz_application_template
2. Change safety_hw parameter to "pnoz"

### Expected behavior
- Uses registers 512...515
- No further changes necessary

### Observed behavior
- Uses PSS4000 registers 970...980
- You have to make an empty file modbus_write_api_pnoz.yaml in the config folder be

[2020-07-21 04:30] #427 closed, assigned to jschleicher

[2020-07-21 04:30] CloudYin commented on #427
Closed via #444

[2020-07-23 12:41] martiniil commented on #444
Thank you for reporting the issue.
The error with the missing file should disappear once you set `has_braketest_support:=false`. At least this is the intended setup for Pnoz.

[2020-07-23 12:44] martiniil commented on #444
@jschleicher The issue occurs because the filename of the config file is not passed to `modbus_client.launch`. This is already fixed here: #384

[2020-07-23 15:21] martiniil commented on #429
More links which might help:
https://github.com/ros/actionlib/issues/143
https://github.com/ros/actionlib/issues/41
https://answers.ros.org/question/326853/boost-mutex-error-when-using-simpleactionclient-with-stdunique_ptr/

[2020-07-23 19:41] martiniil commented on #429
The `std::future` used in the test should not be a problem. If the thread is not completed, the destructor of the future object is blocking. The result would be
[code]

[2020-07-24 05:36] JonathanGruner commented on #444
Thanks for the answer. I checked but the parameter is set to "false", therefore this can't be the reason. If you want I can send you my package.

[2020-07-27 08:49] martiniil commented on #444
Thanks Jonathan. Please post a log of the error. Let's see if this helps.

[2020-07-28 08:48] martiniil commented on #429
Did not occur for 28 days and I am not able to reproduce it.

[2020-07-28 08:48] #429 closed, assigned to nobody

[2020-07-28 09:23] JonathanGruner commented on #444
[roslaunch-rospc-HP-ProBook-650-G5-10296.log](https://github.com/PilzDE/pilz_robots/files/4987227/roslaunch-rospc-HP-ProBook-650-G5-10296.log)

[my_application.launch.txt](https://github.com/PilzDE/pilz_robots/files/4987229/my_application.launch.txt)

[2020-07-28 09:40] martiniil commented on #444
Your log shows that the file `modbus_read_api_spec_pnoz.yaml` is missing. I guess this is due to your workaround, in which this file is renamed. Can you revert your workaround (completely!) and post the log of the original error?

[2020-07-28 09:48] JonathanGruner commented on #444
Ok you are right. Got confused with the errors and reseted the whole config folder into original. Than the error is gone.

[2020-07-28 18:30] agutenkunst commented on #439
ping @martiniil

[2020-07-29 09:56] martiniil commented on #439
Hi, thanks for your effort. I lean towards

The ik package was never included in the coverage so this is no problem. I think moving files away from the default location is misleading, whether you add an explanation or not.

Same for `urdf_test`. What do you think?

[2020-07-29 15:32] martiniil opened #446 "Report of performing acceptance-tests in test cell"
### acceptance_test_speed_monitoring
Sometimes moving the robot with RViz fails with error:
[code]
I guess this can happen if you move the robot without moveit?
See https://github.com/ros-planning/moveit/issues/1939#issuecomment-666191991

### acceptance_test_execute_brake_test
Only fails in test cell, since the braketest module is not present there, yet.

### acceptance_test_stop1

controller is

[2020-07-29 17:44] martiniil commented on #435
Solved: f87451ea5f18eed16dc3287c7d946a25bf2be3cf

[2020-07-29 17:44] #435 closed, assigned to nobody

[2020-07-29 17:46] martiniil commented on #433
Solved: 7abce15b1dd9676b8abc737aa67265f1ac2ff23c

[2020-07-29 17:46] #433 closed, assigned to nobody

[2020-07-29 18:03] martiniil commented on #444
Hi @JonathanGruner , this issue should be fixed right now on the branch `melodic-devel`. It would be nice if you could validate it.

[2020-07-30 09:28] martiniil commented on #446
Can be closed once #447 and #448 is merged.

[2020-08-03 15:44] martiniil opened #449 "Cyclic dependency between prbt_support and prbt_moveit_config"
Foregoing discussion: #439

### Expected
Since `prbt_moveit_config` has an execution-dependency on `prbt_support`, `prbt_support` should not depend on `prbt_moveit_config`.

### Observed
In `prbt_support` the test `urdf_tests.test` has the following line:
[code]
This introduces a dependency which is currently missing in `package.xml`.

[2020-08-03 15:45] martiniil commented on #449
In the test `urdf_tests.test` a MoveIt robot_model is loaded, which needs a `srdf` description of the robot. At first glance this was implemented out of laziness. The test could as well be conducted without the `srdf`.

[2020-08-07 10:56] #439 closed, assigned to agutenkunst

[2020-08-07 14:48] #449 closed, assigned to nobody

[2020-08-20 06:16] JonathanGruner commented on #444
Hi,
it works with this branch melodic-devel.
Tested it with prbt_default_application.
I will disassemble my testing cell now and close this request, thank you very much for your effort!

[2020-08-20 06:16] #444 closed, assigned to nobody

[2020-08-21 14:34] SansoneG commented on #446
Additions:

performed acceptance tests on commit
7e593a1 and [0.5.18](https://github.com/PilzDE/pilz_robots/releases/tag/0.5.18)

__acceptance_test_joint_limits__
Failed with following output after executing ` rosrun prbt_support acceptance_test_joint_limits.py`:
[code]

__acceptance_test_tcp__

Failed with following output after executing `roslaunch prbt_support test_urdf.launch`:
[code]

screens

[2020-09-29 12:33] davideferrari95 opened #453 "Unsupported API version when executing braketest"
Hi,

when I call the service /prbt/execute_braketest I get the following error:

[code]

I'm using the last commit version in master branch.

[2020-09-29 13:29] jschleicher commented on #453
@davideferrari95 Please contact [techsupport](mailto:techsupport@pilz.de) to get the current version of the PSS4000 program.

[2020-09-29 13:29] #453 closed, assigned to nobody

[2020-10-02 11:53] jschleicher opened #456 "Need to press acknowledge again after startup, else the controller is in holding mode"
Yes, that's the current behaviour - just tested with the PRBT. But from a user's perspective an incorrect assumption. Why shouldn't I be able to move the robot, if acknowledge is pressed during launch?
I don't like to change the acceptance test but rather fix the implementation. Is this a regression?

_Originally posted by @jschleicher in https://github.com/PilzDE/pilz_robots/pull/447#issuecomment

[2020-10-02 11:54] jschleicher commented on #456
During startup, the console shows an error
[code]

[2020-10-09 08:06] jschleicher commented on #446
Thank you for the report. Closing as #447 and #448 are merged now.

[2020-10-09 08:06] #446 closed, assigned to nobody

[2020-10-09 12:49] jschleicher commented on #402
Fixed in #403

[2020-10-09 12:49] #402 closed, assigned to nobody

[2020-10-09 13:03] jschleicher commented on #327
Some of your points have been adressed and implemented in the meantime. Please (re-)open or better provide PR if you'd like to see further optimizations included.

[2020-10-09 13:03] #327 closed, assigned to nobody

[2020-10-09 13:12] jschleicher commented on #209
@martiniil Is this still relevant? As far as I can tell `ServiceClientFactory` class is gone again?

[2020-10-12 08:38] martiniil commented on #209
I think you are right.

[2020-10-12 08:38] #209 closed, assigned to nobody

[2020-11-16 15:54] martiniil opened #469 "Test failure: unittest_pilz_joint_trajectory_controller_is_executing did not generate test results"
### Commit
e763112

### Log
[code]
see https://github.com/PilzDE/pilz_robots/pull/468/checks?check_run_id=1406693648

[2020-11-23 13:20] #364 closed, assigned to jschleicher

[2020-11-30 02:32] lyh458 opened #474 "miss OperationModes.h, GetOperationMode.h, modbus.h"
### Commit
branch: melodic-devel

### Steps to reproduce
1. git clone https://github.com/PilzDE/pilz_robots.git
2. cd <workspace>
3. catkin_make
4. install the dependencies by command ``sudo apt install ros-melodic-pilz-<package>``, such as **pilz_msgs**, etc.

### Observed behavior

Could't found some headers when ``catkin_make``, even though I have installed the related packages, and could not f

[2020-11-30 09:36] martiniil commented on #474
1. Please clone https://github.com/PilzDE/pilz_common into your workspace. We moved some packages to this repository. However this change is not mapped to the apt-packages yet. You can skip this step once ros-melodic-pilz-msgs is at version 0.6.0

2. You are probably missing further dependencies. Rather than installing them by hand, consider using `rosdep` (http://wiki.ros.org/rosdep).

[2020-11-30 11:49] lyh458 commented on #474
Thanks your reply.
I have solved the problem of missing **OperationModes.h, GetOperationMode.h** with your suggestion 1, but it still miss **modbus.h** . I tried to install the relative repo [libmodbus](https://github.com/PilzDE/libmodbus) in your repo list, another issue happened. Here is the log:

[code]
BTW, I have also update the dependencies with the command ``rosdep install --from-paths src

[2020-11-30 12:03] lyh458 commented on #474
I think this issue is similar to the closed issue #56, #143.

[2020-11-30 13:50] martiniil commented on #474
What is your operating system? The problem could be that you have an unsupported version of `libmodbus`. Currently we have libmodbus version 3.0.6-2 on Ubuntu 18.04.

[2020-11-30 13:58] lyh458 commented on #474
Yes, the same as yours.

[2020-11-30 14:09] martiniil commented on #474
I have both `libmodbus5:amd64` and `libmodbus-dev` at version `3.0.6-2`. Can you check that?

[2020-11-30 14:27] lyh458 commented on #474
Same too.
![libmodbus version](https://i.loli.net/2020/11/30/HgBbpojds4w1UvC.png)

[2020-11-30 14:35] martiniil commented on #474
But this error
[code]
indicates that you have a higher version. Maybe you got your installations mixed up. Try to remove all libmodbus installations, run the `rosdep` command again and clean your workspace. Then it should hopefully work.

[2020-12-01 01:17] lyh458 commented on #474
Problem solved. I uninstalled all libmodbus and installed again, then ``catkin_make``, it worked!
Thanks!

[2020-12-01 01:17] #474 closed, assigned to nobody

[2021-03-30 07:53] ct2034 opened #485 "/etc/network/interfaces does not exist on ubuntu 20.04"
We need to fix this here and in the tutorials

[2021-07-19 21:29] SantiagoCanete opened #488 "PluginlibFactory: The plugin for class 'moveit_rviz_plugin/MotionPlanning' failed to load."
### Commit
Installed the library through
`sudo apt install ros-noetic-pilz-robots`

### Setup
Using Ubuntu 20.04, ROS Noetic in WSL

### Tried
1. `sudo apt update`
2. `sudo apt-get dist-upgrade`
3. `sudo apt-get install ros-noetic-moveit-visual-tools`

### Expected behavior
Running the test launch:
`roslaunch prbt_moveit_config moveit_planning_execution.launch`

### Observed behavior
`[ERROR] Plug

[2021-07-20 08:01] martiniil commented on #488
I assume you installed `ros-noetic-pilz-robots`?

[2021-07-20 08:22] martiniil commented on #488
I tried it in a fresh container (docker) and could not observe an issue. Regarding WSL, I cannot help unfortunately.

[2021-07-20 13:36] SantiagoCanete commented on #488
Yeap, sorry I installed `ros-noetic-pilz-robots`. I edited the original issue. This seems to be related to WSL, unsetting the environment variable `export LIBGL_ALWAYS_INDIRECT=:` in .bashrc has solved the problem.

[2021-07-20 13:36] #488 closed, assigned to nobody

[2021-08-17 08:07] CloudYin commented on #485
This can be done by enabling systemd-networkd. Here is the procedure:
1. In the terminal, run the following two commands:
sudo systemctl start systemd-networkd
sudo systemctl enable systemd-networkd
2. Configure SocketCan network interface in systemd-networkd:
sudo nano /etc/systemd/network/80-can.network
3. In the open file, add the following text:
[Match]
Name=can*
[CAN]
BitRate=1000000

4. Rest

[2022-11-21 13:30] #485 closed, assigned to nobody

[2022-11-21 13:31] #232 closed, assigned to nobody